# Distribution / packaging
.ws_secret_pass
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.requirements.zip

# Serverless directories
.serverless